@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Lato', sans-serif;
    color: #c42222;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2rem;
}

h1,h4,p 
{
    margin: 0.5rem 0;
}

h1 
{
    font-weight: 400;
    font-size: 3rem;
}

h4
{
    font-weight: 300;
    font-size: 1.25rem;
}

.icons a i 
{
    font-size: 1.5rem;
    padding-right: 0.8rem;
    cursor: pointer;
}

.icons a, .icons a:active, .icons a:visited, .icons a:hover
{
    color:  #c42222;
}

section 
{
    flex-grow: 1;
    padding: 2rem;
}

.quote 
{
    font-style: italic;
}

.box  
{
    display: flex;
    align-items: center;
    margin: 4rem 0;
}

.title 
{
    width: 8rem;
    font-style: italic;
}

.contents-date span
{
    padding: 0.1rem;
}

footer 
{
    width: 100%;
    text-align: center;
    min-height: 3.125rem;
    margin-top: auto;
}

@media screen and (max-width: 600px) {

    .box {
        margin: 2rem 0;
    }

}
